<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <title>Administration - AcadAvengers Weblog</title>
</head>
<body>
<section>
    <div class="hero-body has-text-left-desktop">
        <div class=" is-fluid content">
            <h1>Welcome to AcadAvengers Blog</h1>
            <h1>Administration</h1>
        </div>
    </div>
</section>

<hr>
<section class="box">
    <div th:each="user : ${userList}" th:if="${user.admin != true}">
        <strong>Name: </strong><span th:text="${user.username}"></span><br>
        <strong>User ID: </strong><span th:text="${user.id}"></span><br>
        <a class="button" th:href="@{/edituser/{userid}(userid=${user.id})}">Edit User</a><br><br>
        <hr>
    </div>
    <hr/>
    <p><a href="/">Back to Main-Page</a></p>
</section>
</body>
</html>