<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <title>Something went wrong...</title>
</head>
<!--Allgemeine Error Seite für sonstige Fehler, die auftauchen könnten-->
<body>
<section>
    <div class="hero-body has-text-left-desktop">
        <div class=" is-fluid content">
            <h1>Welcome to AcadAvengers Blog</h1>
            <h1>Something went wrong...</h1>
            <h2>...please go back and try again or return to the main page.</h2>
        </div>
    </div>
</section>
<section class="box">
    <hr/>
    <p><a th:href="@{/}">Back to main page</a></p>
</section>
</body>
</html>