<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <title>AcadAvengers Weblog</title>
</head>
<body >
<section>
    <div class="hero-body has-text-left-desktop">
        <div class="container is-fluid content">
            <h1 th:text="${'Welcome to AcadAvengers Blog'}" th:if="${sessionUser == null}"></h1>
            <h1 th:if="${sessionUser != null}"
                th:text="${'Welcome ' + sessionUser.username + ' to AcadAvengers Blog'}"></h1>
        </div>
    </div>
</section>
<section class="navbar is-light is-spaced">
    <div class="navbar-menu container">
        <div class="navbar-start">
            <a class="navbar-item" th:href="@{/login}" th:if="${sessionUser == null}">Login</a>
            <a class="navbar-item" th:href="@{/register}" th:if="${sessionUser == null}">Register</a>
            <a class="navbar-item" th:href="@{/admin}"
               th:if="${sessionUser != null and sessionUser.admin == true}">Go to Admin-Page</a>
            <form th:if="${sessionUser != null}" method="post" th:action="@{/logout}">
                <button class="navbar-item" type="submit">Logout</button>
            </form>
        </div>
    </div>
    <hr>
    <br>

</section>

<section class="container">
    <div><a class="button" th:href="@{/blogpost}"
            th:if="${sessionUser != null and sessionUser.admin == true}">Add new blog post</a>
    </div>
    <div class="container box" th:each="post : ${allBlogPosts}">
        <pre class="title" th:text="${post.title}"></pre>
        <pre class="text" th:text="${post.text}"></pre>
        <pre th:text="${'written by ' + post.user.username}"></pre>
        <a class="button" th:if="${sessionUser != null and sessionUser.admin}"
           th:href="@{/blogpost/editblogpost/{blogpostId}(blogpostId=${post.id})}">Edit blog post</a>
        <div class="container">
            <div class="columns is-mobile content is-small" th:each="comment : ${post.getCommentsOfPost()}">
                <div class="column">
                    <pre class="content" th:text="${comment.user.username + ': ' + comment.text}"></pre>
                </div>
                <div class="column is-narrow">
                    <a class="button" th:if="${sessionUser != null and sessionUser.admin}"
                       th:href="@{/{userId}/{postcommentId}/deletecomment(userId=${comment.user.id},
                       postcommentId=${comment.id})}">Delete comment</a>
                    <a class="button"
                       th:if="${sessionUser != null and sessionUser.id == comment.user.id and not sessionUser.admin}"
                       th:href="@{/{userId}/{postcommentId}/deletecomment(userId=${sessionUser.id}, postcommentId=${comment.id})}">Delete
                        your comment</a>
                </div>
            </div>
            <div>
                <a class="button"
                   th:href="@{/{userId}/blogId/{blogPostId}/postcomment(userId=${sessionUser.id}, blogPostId=${post.id})}"
                   th:if="${sessionUser != null}">Write a comment</a>
            </div>
        </div>
    </div>
</section>
<hr>
</body>
</html>